body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: #d2ea8b url(images/yother/pagebg.jpg);
	background-repeat: repeat-y;
	background-position: center;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	line-height: 140%;
	color: #444444;
}

a{
	color: #222222;
}

#container{
	background: url(images/yother/bg.jpg);
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	background: url(images/yother/header.jpg);
	height: 150px;
}

#menubar{
	background: #eef8d6;
	width: 700px;
	margin: 0 auto;
	height: 50px;
	list-style-type: none;
	padding: 0;	
}

#menubar li{
	float: left;
}

#menubar li a{
	font-weight: bold;
	color: #94af5a;
	display: block;
	height: 50px;
	text-transform: lowercase;
	text-decoration: none;
}

#menubar li#home a{ background: url('/images/yother/menu.gif') 0 0; width:98px;}
#menubar li#home a:hover{ background: url('/images/yother/menu.gif') 0 -45px; width:98px; }

#menubar li#aplang a{ background: url('/images/yother/menu.gif') -98px 0; width:124px;}
#menubar li#aplang a:hover{ background: url('/images/yother/menu.gif') -98px -45px; width:124px; }

#menubar li#twelve a{ background: url('/images/yother/menu.gif') -222px 0; width:142px;}
#menubar li#twelve a:hover{ background: url('/images/yother/menu.gif') -222px -45px; width:142px; }

#menubar li#eleven a{ background: url('/images/yother/menu.gif') -364px 0; width:138px;}
#menubar li#eleven a:hover{ background: url('/images/yother/menu.gif') -364px -45px; width:138px; }

#menubar li#contact a{ background: url('/images/yother/menu.gif') -502px 0; width:102px;}
#menubar li#contact a:hover{ background: url('/images/yother/menu.gif') -502px -45px; width:102px; }


#menubar li#links a{ background: url('/images/yother/menu.gif') -604px 0; width:96px;}
#menubar li#links a:hover{ background: url('/images/yother/menu.gif') -604px -45px; width:96px; }

.hiddentext{
	display: none;
}

#content{
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	text-align: left;
}

#content h1{
	font-size: 24px;
	line-height: 28px;
}

#left{
	float: left;
	width: 400px;
	padding: 20px 0 20px 20px;

}

#right{
	padding: 28px 20px 20px 40px;
	float: right;
	width: 200px;
}

#right .newsblurb{
	width: 190px;
	height: 155px;
	background: url(images/yother/note_bg.jpg);
	font-size: 10px;
	padding-top: 15px;
}

#right .newsblurb p{
	padding: 0 20px 0 20px;
}

#right .newsblurb h2{
	padding: 15px 10px 0 20px;
	font-size: 11px;
	margin: 0;
}

#right .newsblurb a, #footer a{
	color: #444444;
	text-decoration: none;
	font-weight: bold;
}

#footer{
	text-align: center;
	clear: both;
	height: 149px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background: url(images/yother/footerbg.jpg);
}

#footer p{
	padding: 40px 0;
}

#calendar{
	float: right;
	margin: 0 0 10px 10px;
	border: 1px solid #cccccc;
	background: #efefef url(images/yother/calbg.gif);
	background-repeat:no-repeat;
	-webkit-box-shadow: 0 5px 5px #888;
	-moz-box-shadow: 0 5px 5px #888;
	box-shadow: 0 5px 5px #888;
}

.calendarHeader, .calendarDayHeading {
	color: #ffffff;
}

#calendar .calendarMonthLinks a{
	color: #ffffff;
	background: #98463c;	
}

#calendar .calendarMonthLinks a:hover{
	background: #ffffff;
	color: #98463c;
}



#calendar a{
	color: #efefef;
	text-decoration: none;
	font-weight: bold;
	background: #98463c;
}

#calendar a:hover{
	color: #98463c;
	background: #efefef;
}

.white, .green{
	padding: 10px 0;
	/* width: 370px; */
}

.white h3, .green h3{
	padding-left: 25px;
	background-image: url(/images/link.jpg);
	background-repeat: no-repeat;
}

.white{}

.green{
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;

}

#contactform input, #contactform textarea{ width: 250px; border: 1px solid #cccccc; padding: 5px; }
#contactform .submit{ width: auto; padding: 0; border: 1px solid #92948f; background: #bcda56; padding: 5px 10px; font-size: 16px; font-weight: bold; color: #ffffff;}